<script src="/js/ranked.js" charset="utf-8" defer></script>

<h1 class="form_header home_header">Ranked Ladder</h1>

<div class="ranked_wrapper">
  <div id="ranked_title_filters">
    <div id="Silver">
      <p class="rank_title">Silver</p>
    </div>
    <div id="Gold">
      <p class="rank_title">Gold</p>
    </div>
    <div id="Emerald">
      <p class="rank_title">Emerald</p>
    </div>
    <div id="Ruby">
      <p class="rank_title">Ruby</p>
    </div>
    <div id="Diamond">
      <p class="rank_title">Diamond</p>
    </div>
    <div id="Master">
      <p class="rank_title">Master</p>
    </div>
    <div id="Grandmaster">
      <p class="rank_title">Grandmaster</p>
    </div>
  </div>

  <div class="users_ladder">

    {{#if noUsers}}
    <h1 class="form_header">No users are in this rank at the moment</h1>
    {{/if}}

    {{#each users}}
    <div id={{this.username}} class="user_container">
      <img class="user_image" src={{this.profile_image}} alt="">
      <p class="username {{this.rank_name}}">Username: {{this.username}}</p>
      <p class="user_rank {{this.rank_name}}">Rank: {{this.rank_name}}</p>
      <p class="user_score {{this.rank_name}}">Season Score: {{this.season_score}}</p>
      <img class="user_rank_image" src={{this.rank_image}} alt="">
    </div>
    {{/each}}
  </div>

</div>
